<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/css/perguntas.css'/>
  <title>Editar pergunta</title>
</head>
<body>
  <%- include('../../partials/logout') %>
  <a href="/admin/perguntas">Voltar a tras</a>
  <h2>Editar Pergunta</h2>
  <section>
    <form method="POST" action='./<%= pergunta.id_pergunta %>' onkeydown="return event.key != 'Enter';">
      <fieldset>
        <legend>Edit Pergunta</legend>
        <table>
          <tr>
            <th>Tipo de pergunta</th>
            <th>Pergunta</th>
          </tr>
          <tr>
            <th><select name='type_pergunta' id='type_pergunta' required>
              <option value='radio' <% if(pergunta.type_pergunta === 'radio'){%> <%= "selected" %> <% } %> >resposta unica</option>
              <option value='checkbox' <% if(pergunta.type_pergunta === 'checkbox'){%> <%= "selected" %> <% } %> >respostas multipla</option>
            </select></th>
            <th><input style="width:300px;" name='pergunta' id="pergunta" value="<%= pergunta.pergunta %>" required></th>
          </tr>
        </table>
      </br>
      </br>
        <table>
          <tr id='title_respostas'>
            <th>Resposta</th>  
            <th>Tag<input type='button' name='add_resposta' value='+ Adicionar resposta'></th> 
            <th>Apagar resposta</th>
          </tr>
          <% for(let i = 0; i < pergunta.respostas.length; i += 1) {%>
            <tr class="resposta">
              <th><input type='input' name='opcao' style="width: 90%;" value="<%= pergunta.respostas[i] %>" required></th>
              <th><input type='input' name='tag' style="width: 70%;" value="<%= pergunta.tags[i] %>" required></th>
              <th style='display: none;'><input type='input' name='id' style="width: 70%;" hidden value="<%= pergunta.id[i] %>" ></th>
              <% if (i != 0) { %> <th><button form='deleteForm' onClick="confirmFunctiosn(event)" name='id' value='<%= pergunta.id[i] %>'>Apagar</button></th> <% } %>
            </tr>
          <% } %>
        </table>
      </br>
      </br>
        <input type='submit' onClick="confirmFunction(event)" value='Editar pergunta'>
      </fieldset>
    </form>
    <form method="POST" id='deleteForm' onClick="confirmFunction(event)" action="./<%= pergunta.id_pergunta %>?_method=DELETE" ></form>
  </section>
</body>
<script src='/js/index.js'></script>
<script src='/js/handler.js'></script>
</html>